<md-content class="md-padding">

    <h2>User Details</h2>

    <form name="userForm">

        <div layout-gt-sm="row">
            <md-list-item>
                <img ng-src="https://avatars.githubusercontent.com/{{$ctrl.selected.githubHandle}}" class="md-avatar input-avatar" />

                <md-input-container class="md-block" flex>
                    <label>Name</label>
                    <input ng-model="$ctrl.selected.name">
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>Github Handle</label>
                    <input ng-model="$ctrl.selected.githubHandle">
                </md-input-container>
            </md-list-item>

        </div>
        <div layout-gt-sm="row">
            <md-list-item>
                <md-input-container class="md-block" flex>
                    <label>Address</label>
                    <input ng-model="$ctrl.selected.address">
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>City</label>
                    <input ng-model="$ctrl.selected.city">
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>State</label>
                    <input ng-model="$ctrl.selected.state">
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>Zip</label>
                    <input ng-model="$ctrl.selected.zip">
                </md-input-container>
            </md-list-item>
        </div>
    </form>

</md-content>